{% extends "base.html" %}
{% block title %}Корзина{% endblock title %}
{% block content %}
    Корзина товаров:
    <table class="cart">
    <thead>
      <tr>
        <th></th>
        <th>Товар</th>
        <th>Количество</th>
        <th>Удалить</th>
        <th>Цена за единицу</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url "cart:add" product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <input type="submit" value="Обновить">
                {% csrf_token %}
              </form>
            </td>
            <td>
              <form action="{% url "cart:remove" product.id %}" method="post">
                <input type="submit" value="Удалить">
                {% csrf_token %}
              </form>
            </td>
            <td>₽{{ item.price }}</td>
            <td>₽{{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr>
        <td>
          <form action="{% url "cart:clear" %}">
            <input type="submit" value="Очистить">
          </form>
        </td>
        <td>
          <form action="{% url "orders:create" %}">
            {% csrf_token %}
            <input type="submit" value="Купить"{% if not cart|length %}disabled{% endif %}>
          </form>
        </td>
        <td colspan="4">Общая стоимость</td>
        <td class="num">₽{{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
{% endblock content %}