{% extends "base.html" %}
{% block title %}Главная{% endblock title %}
{% block content %}
    {% if books %}
    <div class="books">
    {% for book in books %}
        <div class="book">
            <a class="img" href="{{ book.get_absolute_url }}"><img src="{{ book.image.url }}" alt="" width="200" height="300"></a>
            <div class="text">
                <a href="{{ book.get_absolute_url }}">{{ book.name }}</a>
                <p>{{ book.description }}</p>
            </div>
        </div>
    {% endfor %}
    {% else %}
    <p>Ничего не найдено</p>
    {% endif %}
</div>
{% endblock content %}