{% extends "base.html" %}
{% block title %}{{ book.name }}{% endblock title %}
{% block content %}
    <div class="book-info">
        <img src="{{ book.image.url }}" alt="Error">
        <form action="{% url "cart:add" book.id %}" method="post">
            {{ book_form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
        </form>
        <p><span>{{ book.name }}</span></p>
        <p><span>Автор</span>: {% for author in book.auhtor.all %}<a href="{% url "books:author_books" author.slug %}">{{ author.name }}</a> {% endfor %}</p>
        <p><span>Жанр</span>: {% for genre in book.genre.all %}<a href="{% url "books:genre_books" genre.slug %}">{{ genre.genre_name }}</a> {% endfor %}</p>
        <p><span>Цена</span>: {{ book.price }}₽</p>
        <p><span>Описание</span>: {{ book.description }}</p>
        <form action="{% url "books:add_comment" book.id %}" method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Отправить">
        </form>
        {% for comment in comments %}
        <table class="comment">
            <tr>
              <td>{{ comment.created }}</td>
              <td>{{ comment.name }}</th>
              <td>{{ comment.email }}</th>
              <td>{{ comment.comment }}</th>
            </tr>
        {% endfor %}
        
    </div>
{% endblock content %}